**/.vscode/*
.idea

**/.env
*example*.txt

**/.settings
**/.project
**/.classpath

**/__pycache__
*.tsbuildinfo
**/.DS_Store

**/.gradle
**/node_modules

**/bin
**/dist
**/build
**/cmake-build*
**/target
**/expected_results
**/tmp

# 2021 specifics
!2021/bin
!2021/.vscode/launch.json

!/bin