**/.vscode/*
.idea

*example*.txt

**/.settings
**/.project
**/.classpath

**/__pycache__
*.tsbuildinfo
**/.DS_Store

**/.gradle
**/node_modules

**/bin
**/dist
**/build
**/cmake-build*
**/target
**/results
